<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CA state</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            background-color: #f8f8f8;
            margin: 0;
            padding: 0;
            text-align: center;
        }

        header {
            background-color: #0056b3;
            color: #fff;
            padding: 10px 0;
        }

        .header-content {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100px; /* Điều chỉnh chiều cao của khung màu xanh */
        }

        .main-image {
            max-width: 100%;
            height: auto;
            margin-bottom: 20px;
        }

        .image-row {
            display: flex;
            justify-content: center;
            margin: 20px 0;
        }

        .iframe-container {
            max-width: 50%;
            margin: 0 10px;
        }

        iframe {
            width: 100%;
            height: 400px;
        }
    </style>
</head>
<body>
    <header>
        <div class="header-content">
            <img class="main-image" src="/images/demo.jpeg" alt="Hình Ảnh Chính">
            &emsp;
            <h1>CA STATE</h1>
        </div>
    </header>
    <br>
    <br>

    <div>
        <iframe title="report" width="900" height="700" src="https://app.powerbi.com/view?r=eyJrIjoiNDRlYWUzNGUtZDRjMi00ZmY4LTlmMDktYThjMjk0OWJjNGUwIiwidCI6IjJlMzlhNDM0LWE2YmMtNGJhNC1iZGY1LTQ2YmUyOWMyYTYwMCIsImMiOjEwfQ%3D%3D" frameborder="0" allowFullScreen="true"></iframe>
    </div>
            
</body>
</html>